<div class="py-24 sm:py-32 w-full">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">
            {{ feature_blogs_title }}
        </h2>
        <p class="mt-2 text-lg/8 text-gray-600">
            {{ feature_blogs_subtitle }}
        </p>
      </div>
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        {{ feature_blog_card }}
            <article class="flex flex-col items-start justify-between">
            <div class="relative w-full">
                <img src="{{ feature_blog_image[0] }}" alt="" class="aspect-video w-full rounded-2xl bg-gray-100 object-cover sm:aspect-2/1 lg:aspect-3/2">
                <div class="absolute inset-0 rounded-2xl ring-1 ring-gray-900/10 ring-inset"></div>
            </div>
            <div class="max-w-xl">
                <div class="group relative">
                <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                    <a href="#">
                    <span class="absolute inset-0"></span>
                    {{ feature_blog_title }}
                    </a>
                </h3>
                <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">
                    {{ feature_blog_content }}
                </p>
                </div>
            </div>
            </article>
        {{ /feature_blog_card }}
      </div>
    </div>
  </div>
  